[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "==0.5.1"
pydub = "==0.16.4"
Unidecode = "==0.4.19"
urllib3 = "==1.13.1"
numpy = "*"
youtube-dl = "==2020.12.2"

[dev-packages]

[requires]
python_version = "3.9"
